@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-height: 3.5rem;
	--font-body : 'Roboto', system-ui, sans-serif;
}

body {
	font-family: var(--font-body);
	@apply bg-zinc-100;
}

@layer components {

	.root {
		@apply flex flex-col min-h-screen;
		padding-top: var(--header-height);
	}

	.main-header {
		height: var(--header-height);
	}

	/* Buttons */
	.btn {
		@apply inline-block py-1.5 px-6 text-zinc-500 text-center border border-transparent hover:bg-zinc-100 transition cursor-pointer active:scale-95 focus:outline-none;
	}

	.btn-primary {
		@apply text-white bg-green-600 hover:bg-green-600/90 border-green-600 hover:border-green-600/90
	}

	.btn-outline-primary {
		@apply text-green-600 hover:text-white bg-transparent hover:bg-green-600/90 border-green-600 hover:border-green-600/90;
	}

	.btn-default {
		@apply shadow-none hover:bg-zinc-100 hover:bg-opacity-70 hover:border-transparent;
	}
}
