@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Nunito', system-ui, sans-serif;
	@apply bg-zinc-100;
}

@layer components {

	#root {
		@apply h-screen grid grid-cols-[1fr] grid-rows-[3.5rem,1fr,3.5rem]
	}
}

/* Button */
@layer components {
	.button {
		@apply inline-block py-1.5 px-4 bg-transparent text-gray-500 border border-gray-100 hover:border-gray-200 active:border-gray-300 outline-none rounded cursor-pointer;
	}

	.button.button-light {
		@apply bg-gray-100 hover:bg-gray-200 active:bg-gray-300 border border-gray-100 hover:border-gray-200 active:border-gray-300;
	}

	.button.button-dark {
		@apply bg-gray-600 hover:bg-gray-700 active:bg-gray-800 border border-gray-600 hover:border-gray-700 active:border-gray-800 text-white;
	}

	.button.button-info {
		@apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800 border border-blue-600 hover:border-blue-700 active:border-blue-800 text-white;
	}

	.button.button-success {
		@apply bg-green-600 hover:bg-green-700 active:bg-green-800 border border-green-600 hover:border-green-700 active:border-green-800 text-white;
	}

	.button.button-warning {
		@apply bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800 border border-yellow-600 hover:border-yellow-700 active:border-yellow-800 text-white;
	}

	.button.button-danger {
		@apply bg-red-600 hover:bg-red-700 active:bg-red-800 border border-red-600 hover:border-red-700 active:border-red-800 text-white;
	}

	.button.button-outline-light {
		@apply bg-transparent hover:bg-gray-200 active:bg-gray-300 border border-gray-200 active:border-gray-300;
	}

	.button.button-outline-dark {
		@apply bg-transparent hover:bg-gray-700 active:bg-gray-800 border border-gray-600 hover:border-gray-700 active:border-gray-800 text-gray-600 hover:text-white;
	}

	.button.button-outline-info {
		@apply bg-transparent hover:bg-blue-700 active:bg-blue-800 border border-blue-600 hover:border-blue-700 active:border-blue-800 text-blue-600 hover:text-white;
	}

	.button.button-outline-success {
		@apply bg-transparent hover:bg-green-700 active:bg-green-800 border border-green-600 hover:border-green-700 active:border-green-800 text-green-600 hover:text-white;
	}

	.button.button-outline-warning {
		@apply bg-transparent hover:bg-yellow-700 active:bg-yellow-800 border border-yellow-600 hover:border-yellow-700 active:border-yellow-800 text-yellow-600 hover:text-white;
	}

	.button.button-outline-danger {
		@apply bg-transparent hover:bg-red-700 active:bg-red-800 border border-red-600 hover:border-red-700 active:border-red-800 text-red-600 hover:text-white;
	}

	.button.button-light-light {
		@apply bg-gray-500/10 hover:bg-gray-500/20 active:bg-gray-500/30 text-gray-500 border-transparent;
	}

	.button.button-light-dark {
		@apply bg-gray-900/20 hover:bg-gray-900/30 active:bg-gray-900/40 text-gray-900 border-transparent;
	}

	.button.button-light-info {
		@apply bg-blue-500/10 hover:bg-blue-500/20 active:bg-blue-500/30 text-blue-500 border-transparent;
	}

	.button.button-light-success {
		@apply bg-green-500/10 hover:bg-green-500/20 active:bg-green-500/30 text-green-500 border-transparent;
	}

	.button.button-light-warning {
		@apply bg-yellow-500/10 hover:bg-yellow-500/20 active:bg-yellow-500/30 text-yellow-500 border-transparent;
	}

	.button.button-light-danger {
		@apply bg-red-500/10 hover:bg-red-500/20 active:bg-red-500/30 text-red-500 border-transparent;
	}
}
